# Map, Filter, Lambda

## Map

#### Example1

In [2]:
numbers = [1, 2, 3, 4, 5]
my_list = []

for num in numbers:
    my_list.append(num**3)

print(my_list)

[1, 8, 27, 64, 125]

In [4]:
numbers = [1, 2, 3, 4, 5]

def cube(num):
    return num**3

In [6]:
list(map(cube,numbers))

[1, 8, 27, 64, 125]

#### Example2

In [9]:
names = ['Alex', 'Eli', 'John', 'Ana']
def name_upper(name):
    return name.upper()

uppered = list(map(name_upper, names))
uppered

['ALEX', 'ELI', 'JOHN', 'ANA']

## Lambda

In [14]:
name_upper = lambda x:x.upper()
type(name_upper)

function

In [12]:
name_upper('Mahsa')

'MAHSA'

In [15]:
names = ['Alex', 'Eli', 'John', 'Ana']
list(map(lambda x:x.upper(), names ))

['ALEX', 'ELI', 'JOHN', 'ANA']

In [16]:
numbers=[1,2,3,4,5,6,7,]
list(map(lambda n:n*n*n , numbers))

[1, 8, 27, 64, 125, 216, 343]

## Filter

In [32]:
a = [1, 2, 3, 4, 5, 6]
list(filter(lambda x:x%2==0, a))
#list(map(lambda x:x%2==0, a))

[2, 4, 6]

In [33]:
numbers=[1,2,3,4,5,6,7,]

def check_even(number):
    if number % 2 == 0:
          return True  
    return False

list(filter(check_even, numbers))

[2, 4, 6]

In [34]:
ages = [13, 90, 17, 59, 21, 60, 5]

list(filter(lambda age:age>18, ages))

[90, 59, 21, 60]

### Exercise

In [40]:
myStrings = ("demigod", "rewire", "madam", "fortran", "python", "xamarin", "salas", "PHP")
palindromes = list(filter(lambda word: word == word[::-1], myStrings ))
palindromes

['madam', 'salas', 'PHP']

Wish you the best of luck!