# Classes

In [36]:
class Employee:
    
    def __init__(self, name, last, pay):
        #self.fname = name
        #self.lname = last

        self.name = name
        self.last = last
        self.pay = pay
        self.email = name + '.' + last +'@company.com'
        Employee.count += 1
    
    def full_name(self):
        return f'{self.name} {self.last}'

### Create Instance(object)

In [29]:
e1 = Employee('Alex', 'Johnson', 65000)
e2 = Employee('Ana', 'Smith', 35000)

In [30]:
e3 = Employee('Maryam','Mohammadi',900000)
e4 = Employee('Ali','Karimi',30000)
e5 = Employee('Ana','Aria', 40000)

### Method

In [31]:
Employee.count_employee(e1)

'There are 5 employees in this company'

In [38]:
Employee.display_details(e2)

Name: Ana
Salary: 35000

In [12]:
emp_1.full_name()

TypeError: full_name() takes 0 positional arguments but 1 was given

### Attributes

In [15]:
Employee.full_name(emp_1)

'Alex Johnson'

In [9]:
emp_1.full_name()

'Alex Johnson'

In [7]:
emp_2.full_name()

'Ana Smith'

In [14]:
emp_1.last

'Johnson'

In [15]:
emp_2.pay

35000

In [13]:
print(emp_1.email)
print(emp_2.email)

Alex.Johnson@company.com
Ana.Smith@company.com

In [7]:
print(emp_1)
print(emp_2)

<__main__.Employee object at 0x00000192704317C0>
<__main__.Employee object at 0x0000019270431760>

### Static form without OOP

In [8]:
emp1_first = 'Alex'
emp1_last = 'Johnson'
emp1_pay = 65000
emp1_email = 'alex.johnson@company.com'

emp2_first = 'Ana'
emp2_last = 'Smith'
emp2_pay = 35000
emp2_email = 'ana.smith@company.com'

In [9]:
print(emp1_first)
print(emp1_pay)

Alex
65000

In [17]:
print(f'{emp1_first} {emp1_last}')

Alex Johnson

In [18]:
print(f'{emp2_first} {emp2_last}')

Ana Smith

## Inheritance

In [78]:
class Employee:
    employee_count = 0
    raise_amount = 1.10
    
    def __init__(self, name, last, pay):
        #self.fname = name
        #self.lname = last
        
        Employee.employee_count += 1
        self.name = name
        self.last = last
        self.pay = pay
        self.email = name + '.' + last +'@company.com'

    def full_name(self):
        return f'{self.name} {self.last}'
    def count_employee(self):
        print('There are {} employees in this company'.format(Employee.employee_count))
    
    def apply_raise(self):
         self.pay = int(self.pay * self.raise_amount)
            
class Developers(Employee):
    raise_amount = 1.20
    def __init__(self, name, last, pay, language):
        super().__init__(name, last, pay)
        #Employee.__init__(self, name, last, pay)
        self.language = language

#### Instance from the child class

In [79]:
dev1 = Developers('Nima', 'Asadi', 70000, 'python')
dev2 = Developers('Mahsa', 'Yousefi', 80000,'php')

#### Attributes of class developers

In [82]:
print(dev1.language)
print(dev1.email)

python
Nima.Asadi@company.com

In [70]:
dev1.pay

70000

In [71]:
dev1.email

'Nima.Asadi@company.com'

In [76]:
print(dev1.pay)
dev1.apply_raise()
print(dev1.pay)

70000
77000

#### Parent Class instances

In [64]:
e1 = Employee('Ali', 'Mohammadi', 65000)
e2 = Employee('Maryam', 'Yousefi', 35000)

In [29]:
e1.pay

65000

In [30]:
e1.apply_raise()

In [31]:
e1.pay

71500

In [ ]:
e1.raise_amount

In [48]:
print(e1.pay)
e1.apply_raise()
print(e1.pay)

65000
71500

In [49]:
print(e1.raise_amount)
print(e2.raise_amount)
print(Employee.raise_amount)

1.1
1.1
1.1

In [50]:
print(e1.__dict__)

{'name': 'Ali', 'last': 'Mohammadi', 'pay': 71500, 'email': 'Ali.Mohammadi@company.com'}

In [51]:
print(Employee.__dict__)

{'__module__': '__main__', 'raise_amount': 1.1, '__init__': <function Employee.__init__ at 0x000001A7AD0D6C10>, 'full_name': <function Employee.full_name at 0x000001A7AD0D6040>, 'apply_raise': <function Employee.apply_raise at 0x000001A7AD0D60D0>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [52]:
Employee.raise_amount = 1.15

In [53]:
print(e1.raise_amount)
print(e2.raise_amount)
print(Employee.raise_amount)

1.15
1.15
1.15

In [56]:
e1.raise_amount = 1.20

In [57]:
print(e1.raise_amount)
print(e2.raise_amount)
print(Employee.raise_amount)

1.2
1.15
1.15

In [58]:
print(e1.__dict__)

{'name': 'Ali', 'last': 'Mohammadi', 'pay': 71500, 'email': 'Ali.Mohammadi@company.com', 'raise_amount': 1.2}

In [61]:
print(Employee.employee_count)

2

In [65]:
Employee.count_employee(e1)

There are 2 employees in this company

In [66]:
e1.count_employee()

There are 2 employees in this company

Good Luck!